<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'style.css' %}">
    <!-- <script src='main.js'></script> -->

    <title>Login</title>
</head>

<body>
    <h1>Halo, silahkan login dibawah :)</h1>
    <div>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" id="username" required></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" required></td>
            </tr>
            <p>{{ error }}</p>
        </table>
        <br>
        <button type="submit" id="buttonLogin">Login</button>
    </form>
    {% endblock content %}
    </div>
</body>

</html>