<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'style.css' %}">
    <title>Logout</title>
</head>

<body>
    {% block content %}
    <h1>Selamat datang, {{ user.username }}</h1>
    
    <form method="POST" action="/logout/">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endblock content %}

</body>
</html>